<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/forms.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>
</head>

<body>
    <a class="backhome fixed-top" href="/admin">Home</a>
    <div class="color color-1"></div>
    <div class="color color-2"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 id="mainheading">Noor-e-Ilam Finale User</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mainrow">
            <%for(let i=0 ; i<finale.length ; i++) {%>
                <div id="rlt" class="col-6">
                    <a id="link" href="finaleuserremove?id=<%= finale[i]._id %>">Remove</a>
                    <h1 class="mt-4">User Data</h1>
                    <h2><span>Name:</span>
                        <%= finale[i].fullname %>
                    </h2>
                    <h2><span>Email:</span>
                        <%= finale[i].email %>
                    </h2>
                    <h2><span>Number:</span>
                        <%= finale[i].number %>
                    </h2>
                    <h2><span>Course:</span>
                        <%= finale[i].course %>
                    </h2>
                </div>
                <%}%>
        </div>
        <div class="row">
            <div class="col-12">
                <h1 id="subheading">With Requirement</h1>
            </div>
        </div>
        <div class="row mainrow">
            <%for(let i=0 ; i<userreq.length ; i++) {%>
                <div id="rlt" class="col-6">
                    <a id="link" href="finaleuserremove?id=<%= userreq[i]._id %>">Remove</a>
                    <h1 class="mt-4">User Data</h1>
                    <h2><span>Name:</span>
                        <%= userreq[i].fullname %>
                    </h2>
                    <h2><span>Email:</span>
                        <%= userreq[i].email %>
                    </h2>
                    <h2><span>Number:</span>
                        <%= userreq[i].number %>
                    </h2>
                    <h2><span>Course:</span>
                        <%= userreq[i].course %>
                    </h2>
                    <h2><span>Requirements:</span>
                        <%= userreq[i].requirement %>
                    </h2>
                </div>
                <%}%>
        </div>
    </div>
</body>

</html>