
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/course.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/nav.js" defer></script>
    <title>Course & Fee</title>
</head>
<body>
    <%-  include('../layout/nav.ejs')   -%>



    <!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& header &&&&&&&&&&&&&&&&&&&&&&&&& -->

    <header>
        <div class="container ">
            <div class="row w-100">
                <div class="col-12 text-center w-100 d-flex justify-content-center align-content-center">
                    <h1 class="main-heading ">
                        <%= header[0].heading  %>
                    </h1>
                </div>
            </div>
        </div>
    </header>

    <!-- &&&&&&&&&&&&&&&&&&&&&&&&& blog &&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->
    <div class="container blog ">
        <div class="row ">
            <div class="col-12 ">
                <h3 class="mt-5 pt-5"><%= holyquranh[0].heading  %></h3>
            </div>
            <div class="col-12 my-5 ">
                <%for(let i = 0 ; i<holyquranp.length ; i++) {%>
                <p><%= holyquranp[i].paragraph %></p><br>
                <%}%>
            </div>
        </div>
    </div>

       <!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&& Register &&&&&&&&&&&&&&&&&&&&&& -->

       <div class="register">
        <img src="image/<%= reg[0].image %>"
                            alt="<%= reg[0].image %>">
        <div class="container h-100 ">
            <div class="row h-100 align-content-center">
                <div class="col-12">
                    <h1> <%= reg[0].heading  %></h1>
                    <a class="gbtn" href="./registration.html">Register Now</a>
                </div>
            </div>
        </div>
    </div>

    <!-- &&&&&&&&&&&&&&&&&&&&&&&&&&& fee structure &&&&&&&&&&&&&&&&&& -->

    <div class="container fee mt-5 pt-5 ">
        <div class="row main mt-5"><div class="col-12"><h1 class="fee-heading">Fee structure for the memorization course:</h1></div></div>
        <div class="row pt-5 d-flex justify-content-center">
            <%for(let i = 0 ; i<fee.length ; i++) {%>
                <div class="col-4 br">
                    <div class="row one"><div class="col-12"><h1><%= fee[i].heading  %></h1></div></div>
                    <div class="row ms-2 mt-4 two"><div class="col-1 dot"><span></span></div><div class="col-11"><p><%= fee[i].p1  %></p></div></div>
                    <div class="row ms-2 two"><div class="col-1 dot"><span></span></div><div class="col-11"><p><%= fee[i].p2  %></p></div></div>
                    <div class="row three py-5 text-center d-flex justify-content-center"><div class="col-6"><h3><%= fee[i].amount  %> USD
                        / month</h3></div></div>
                    <div class="row four mb-4 d-flex justify-content-center"><div class="col-5"><a href="#book" class="ybtn">Pay Now</a></div></div>
                </div>
                <%}%>
        </div>
    </div>








     <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$ booking box $$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->

     <div class="booking-box" id="book">
        <img src="../img/reg-image/booking/Frame.png" alt="">
        <div class="container my-5 py-5">
            <div class="row d-flex justify-content-center align-content-center">
                <div class="col-12 my-3">
                    <h1>Book your free trial class</h1>
                </div>
                <div class="col-7 mb-4">
                    <p>Kindly submit the form below for a Free Trial Class to have a glimpse of the experience at our
                        Academy</p>
                </div>
                <div class="col-9">
                    <div class="input-box">
                        <form action="courseformdata" class="d-flex flex-wrap justify-content-center" method="post">
                            <div class="box-1 box">
                                <label for="fullname">Full Name:</label>
                                <input type="text" name="fullname" id="fullname" required>
                            </div>
                            <div class="box-2 box">
                                <label for="number">Phone No:</label>
                                <input type="number" name="number" id="number" required>
                            </div>
                            <div class="box-3 box">
                                <label for="email">Email:</label>
                                <input type="text" name="email" id="email" required>
                            </div>
                            <div class="box-4 box">
                                <label for="course">Course:</label>
                                <input type="text" name="course" id="course" required>
                            </div><br>
                            <div class="col-12"><input type="submit" class="btn gbtn" value="Book Now"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>





        
    <%-  include('../layout/footer.ejs')   -%>
</body>
</html>